
:host {
  --galery-height: 500px;

  .container {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr);
    gap: 15px;
  }

  .product-gallery {
    height: var(--galery-height);
  }

  .gallery-skeleton {
    height: var(--galery-height);
    @apply from-slate-50 to-slate-100;
  }
}
